*.vim
.env
.Renviron
.venv
.quarto
.DS_Store
.ipynb_checkpoints
*.ipynb

data/
!data/source/.gitkeep
!data/manual/.gitkeep
!data/processed/.gitkeep
!data/documentation/.gitkeep
!data/production/.gitkeep

scratch/*
!scratch/.gitkeep
